# coding: utf-8

"""
    external/v1/auth_service.proto

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: version not set
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    NOTE
    ----
    standard swagger-codegen-cli for this python client has been modified
    by custom templates. The purpose of these templates is to include
    typing information in the API and Model code. Please refer to the
    main grid repository for more info
"""

from __future__ import absolute_import

import re  # noqa: F401
from typing import TYPE_CHECKING, Any

# python 2 and python 3 compatibility library
import six

from lightning_sdk.lightning_cloud.openapi.api_client import ApiClient

if TYPE_CHECKING:
    from datetime import datetime
    from lightning_sdk.lightning_cloud.openapi.models import *

class SandboxesServiceApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def sandboxes_service_create_sandbox(self, body: 'V1CreateSandboxRequest', **kwargs) -> 'V1Sandbox':  # noqa: E501
        """sandboxes_service_create_sandbox  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_create_sandbox(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param V1CreateSandboxRequest body: (required)
        :return: V1Sandbox
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_create_sandbox_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_create_sandbox_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_create_sandbox_with_http_info(self, body: 'V1CreateSandboxRequest', **kwargs) -> 'V1Sandbox':  # noqa: E501
        """sandboxes_service_create_sandbox  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_create_sandbox_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param V1CreateSandboxRequest body: (required)
        :return: V1Sandbox
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_create_sandbox" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_create_sandbox`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1Sandbox',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_create_sandbox_directory(self, body: 'SandboxesServiceCreateSandboxDirectoryBody', id: 'str', **kwargs) -> 'V1CreateSandboxDirectoryResponse':  # noqa: E501
        """sandboxes_service_create_sandbox_directory  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_create_sandbox_directory(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceCreateSandboxDirectoryBody body: (required)
        :param str id: (required)
        :return: V1CreateSandboxDirectoryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_create_sandbox_directory_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_create_sandbox_directory_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_create_sandbox_directory_with_http_info(self, body: 'SandboxesServiceCreateSandboxDirectoryBody', id: 'str', **kwargs) -> 'V1CreateSandboxDirectoryResponse':  # noqa: E501
        """sandboxes_service_create_sandbox_directory  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_create_sandbox_directory_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceCreateSandboxDirectoryBody body: (required)
        :param str id: (required)
        :return: V1CreateSandboxDirectoryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_create_sandbox_directory" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_create_sandbox_directory`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_create_sandbox_directory`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}/directories', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1CreateSandboxDirectoryResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_create_sandbox_snapshot(self, body: 'SandboxesServiceCreateSandboxSnapshotBody', id: 'str', **kwargs) -> 'V1SandboxSnapshot':  # noqa: E501
        """sandboxes_service_create_sandbox_snapshot  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_create_sandbox_snapshot(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceCreateSandboxSnapshotBody body: (required)
        :param str id: (required)
        :return: V1SandboxSnapshot
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_create_sandbox_snapshot_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_create_sandbox_snapshot_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_create_sandbox_snapshot_with_http_info(self, body: 'SandboxesServiceCreateSandboxSnapshotBody', id: 'str', **kwargs) -> 'V1SandboxSnapshot':  # noqa: E501
        """sandboxes_service_create_sandbox_snapshot  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_create_sandbox_snapshot_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceCreateSandboxSnapshotBody body: (required)
        :param str id: (required)
        :return: V1SandboxSnapshot
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_create_sandbox_snapshot" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_create_sandbox_snapshot`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_create_sandbox_snapshot`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}/snapshot', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1SandboxSnapshot',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_delete_sandbox(self, id: 'str', **kwargs) -> 'V1DeleteSandboxResponse':  # noqa: E501
        """sandboxes_service_delete_sandbox  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_delete_sandbox(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str organization_id:
        :return: V1DeleteSandboxResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_delete_sandbox_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_delete_sandbox_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_delete_sandbox_with_http_info(self, id: 'str', **kwargs) -> 'V1DeleteSandboxResponse':  # noqa: E501
        """sandboxes_service_delete_sandbox  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_delete_sandbox_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str organization_id:
        :return: V1DeleteSandboxResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'organization_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_delete_sandbox" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_delete_sandbox`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1DeleteSandboxResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_delete_sandbox_snapshot(self, snapshot_id: 'str', **kwargs) -> 'V1DeleteSandboxSnapshotResponse':  # noqa: E501
        """sandboxes_service_delete_sandbox_snapshot  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_delete_sandbox_snapshot(snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str snapshot_id: (required)
        :param str organization_id:
        :return: V1DeleteSandboxSnapshotResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_delete_sandbox_snapshot_with_http_info(snapshot_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_delete_sandbox_snapshot_with_http_info(snapshot_id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_delete_sandbox_snapshot_with_http_info(self, snapshot_id: 'str', **kwargs) -> 'V1DeleteSandboxSnapshotResponse':  # noqa: E501
        """sandboxes_service_delete_sandbox_snapshot  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_delete_sandbox_snapshot_with_http_info(snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str snapshot_id: (required)
        :param str organization_id:
        :return: V1DeleteSandboxSnapshotResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['snapshot_id', 'organization_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_delete_sandbox_snapshot" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'snapshot_id' is set
        if ('snapshot_id' not in params or
                params['snapshot_id'] is None):
            raise ValueError("Missing the required parameter `snapshot_id` when calling `sandboxes_service_delete_sandbox_snapshot`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'snapshot_id' in params:
            path_params['snapshotId'] = params['snapshot_id']  # noqa: E501

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/snapshots/{snapshotId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1DeleteSandboxSnapshotResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_extend_sandbox_timeout(self, body: 'SandboxesServiceExtendSandboxTimeoutBody', id: 'str', **kwargs) -> 'V1ExtendSandboxTimeoutResponse':  # noqa: E501
        """sandboxes_service_extend_sandbox_timeout  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_extend_sandbox_timeout(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceExtendSandboxTimeoutBody body: (required)
        :param str id: (required)
        :return: V1ExtendSandboxTimeoutResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_extend_sandbox_timeout_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_extend_sandbox_timeout_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_extend_sandbox_timeout_with_http_info(self, body: 'SandboxesServiceExtendSandboxTimeoutBody', id: 'str', **kwargs) -> 'V1ExtendSandboxTimeoutResponse':  # noqa: E501
        """sandboxes_service_extend_sandbox_timeout  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_extend_sandbox_timeout_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceExtendSandboxTimeoutBody body: (required)
        :param str id: (required)
        :return: V1ExtendSandboxTimeoutResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_extend_sandbox_timeout" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_extend_sandbox_timeout`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_extend_sandbox_timeout`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}/extend-timeout', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1ExtendSandboxTimeoutResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_finalize_sandbox_snapshot(self, body: 'SandboxesServiceFinalizeSandboxSnapshotBody', snapshot_id: 'str', **kwargs) -> 'V1SandboxSnapshot':  # noqa: E501
        """FinalizeSandboxSnapshot flips the row from \"saving\" to \"ready\" after the agent has uploaded every blob and the manifest body to `object_key`. The controlplane records final size_bytes + rootfs_digest from the manifest.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_finalize_sandbox_snapshot(body, snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceFinalizeSandboxSnapshotBody body: (required)
        :param str snapshot_id: (required)
        :return: V1SandboxSnapshot
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_finalize_sandbox_snapshot_with_http_info(body, snapshot_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_finalize_sandbox_snapshot_with_http_info(body, snapshot_id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_finalize_sandbox_snapshot_with_http_info(self, body: 'SandboxesServiceFinalizeSandboxSnapshotBody', snapshot_id: 'str', **kwargs) -> 'V1SandboxSnapshot':  # noqa: E501
        """FinalizeSandboxSnapshot flips the row from \"saving\" to \"ready\" after the agent has uploaded every blob and the manifest body to `object_key`. The controlplane records final size_bytes + rootfs_digest from the manifest.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_finalize_sandbox_snapshot_with_http_info(body, snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceFinalizeSandboxSnapshotBody body: (required)
        :param str snapshot_id: (required)
        :return: V1SandboxSnapshot
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'snapshot_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_finalize_sandbox_snapshot" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_finalize_sandbox_snapshot`")  # noqa: E501
        # verify the required parameter 'snapshot_id' is set
        if ('snapshot_id' not in params or
                params['snapshot_id'] is None):
            raise ValueError("Missing the required parameter `snapshot_id` when calling `sandboxes_service_finalize_sandbox_snapshot`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'snapshot_id' in params:
            path_params['snapshotId'] = params['snapshot_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/snapshots/{snapshotId}/finalize', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1SandboxSnapshot',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_get_sandbox(self, id: 'str', **kwargs) -> 'V1Sandbox':  # noqa: E501
        """sandboxes_service_get_sandbox  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str organization_id:
        :return: V1Sandbox
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_get_sandbox_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_get_sandbox_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_get_sandbox_with_http_info(self, id: 'str', **kwargs) -> 'V1Sandbox':  # noqa: E501
        """sandboxes_service_get_sandbox  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str organization_id:
        :return: V1Sandbox
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'organization_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_get_sandbox" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_get_sandbox`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1Sandbox',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_get_sandbox_command(self, id: 'str', cmd_id: 'str', **kwargs) -> 'V1GetSandboxCommandResponse':  # noqa: E501
        """sandboxes_service_get_sandbox_command  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_command(id, cmd_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str cmd_id: (required)
        :param str organization_id:
        :return: V1GetSandboxCommandResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_get_sandbox_command_with_http_info(id, cmd_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_get_sandbox_command_with_http_info(id, cmd_id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_get_sandbox_command_with_http_info(self, id: 'str', cmd_id: 'str', **kwargs) -> 'V1GetSandboxCommandResponse':  # noqa: E501
        """sandboxes_service_get_sandbox_command  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_command_with_http_info(id, cmd_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str cmd_id: (required)
        :param str organization_id:
        :return: V1GetSandboxCommandResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'cmd_id', 'organization_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_get_sandbox_command" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_get_sandbox_command`")  # noqa: E501
        # verify the required parameter 'cmd_id' is set
        if ('cmd_id' not in params or
                params['cmd_id'] is None):
            raise ValueError("Missing the required parameter `cmd_id` when calling `sandboxes_service_get_sandbox_command`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'cmd_id' in params:
            path_params['cmdId'] = params['cmd_id']  # noqa: E501

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}/commands/{cmdId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1GetSandboxCommandResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_get_sandbox_command_logs(self, id: 'str', cmd_id: 'str', **kwargs) -> 'V1GetSandboxCommandLogsResponse':  # noqa: E501
        """sandboxes_service_get_sandbox_command_logs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_command_logs(id, cmd_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str cmd_id: (required)
        :param str organization_id:
        :return: V1GetSandboxCommandLogsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_get_sandbox_command_logs_with_http_info(id, cmd_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_get_sandbox_command_logs_with_http_info(id, cmd_id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_get_sandbox_command_logs_with_http_info(self, id: 'str', cmd_id: 'str', **kwargs) -> 'V1GetSandboxCommandLogsResponse':  # noqa: E501
        """sandboxes_service_get_sandbox_command_logs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_command_logs_with_http_info(id, cmd_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str cmd_id: (required)
        :param str organization_id:
        :return: V1GetSandboxCommandLogsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'cmd_id', 'organization_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_get_sandbox_command_logs" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_get_sandbox_command_logs`")  # noqa: E501
        # verify the required parameter 'cmd_id' is set
        if ('cmd_id' not in params or
                params['cmd_id'] is None):
            raise ValueError("Missing the required parameter `cmd_id` when calling `sandboxes_service_get_sandbox_command_logs`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'cmd_id' in params:
            path_params['cmdId'] = params['cmd_id']  # noqa: E501

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}/commands/{cmdId}/logs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1GetSandboxCommandLogsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_get_sandbox_file(self, id: 'str', **kwargs) -> 'V1GetSandboxFileResponse':  # noqa: E501
        """sandboxes_service_get_sandbox_file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_file(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str organization_id:
        :param str path:
        :return: V1GetSandboxFileResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_get_sandbox_file_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_get_sandbox_file_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_get_sandbox_file_with_http_info(self, id: 'str', **kwargs) -> 'V1GetSandboxFileResponse':  # noqa: E501
        """sandboxes_service_get_sandbox_file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_file_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str organization_id:
        :param str path:
        :return: V1GetSandboxFileResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'organization_id', 'path']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_get_sandbox_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_get_sandbox_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501
        if 'path' in params:
            query_params.append(('path', params['path']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}/files', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1GetSandboxFileResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_get_sandbox_snapshot(self, snapshot_id: 'str', **kwargs) -> 'V1SandboxSnapshot':  # noqa: E501
        """sandboxes_service_get_sandbox_snapshot  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_snapshot(snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str snapshot_id: (required)
        :param str organization_id:
        :return: V1SandboxSnapshot
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_get_sandbox_snapshot_with_http_info(snapshot_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_get_sandbox_snapshot_with_http_info(snapshot_id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_get_sandbox_snapshot_with_http_info(self, snapshot_id: 'str', **kwargs) -> 'V1SandboxSnapshot':  # noqa: E501
        """sandboxes_service_get_sandbox_snapshot  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_snapshot_with_http_info(snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str snapshot_id: (required)
        :param str organization_id:
        :return: V1SandboxSnapshot
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['snapshot_id', 'organization_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_get_sandbox_snapshot" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'snapshot_id' is set
        if ('snapshot_id' not in params or
                params['snapshot_id'] is None):
            raise ValueError("Missing the required parameter `snapshot_id` when calling `sandboxes_service_get_sandbox_snapshot`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'snapshot_id' in params:
            path_params['snapshotId'] = params['snapshot_id']  # noqa: E501

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/snapshots/{snapshotId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1SandboxSnapshot',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_get_sandbox_snapshot_blob_download_urls(self, body: 'SandboxesServiceGetSandboxSnapshotBlobDownloadUrlsBody', snapshot_id: 'str', **kwargs) -> 'V1GetSandboxSnapshotBlobDownloadUrlsResponse':  # noqa: E501
        """GetSandboxSnapshotBlobDownloadUrls mints presigned GET URLs for a batch of sha256 digests so the restoring agent can pull missing blobs from S3 directly. One URL per digest, in request order.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_snapshot_blob_download_urls(body, snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceGetSandboxSnapshotBlobDownloadUrlsBody body: (required)
        :param str snapshot_id: (required)
        :return: V1GetSandboxSnapshotBlobDownloadUrlsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_get_sandbox_snapshot_blob_download_urls_with_http_info(body, snapshot_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_get_sandbox_snapshot_blob_download_urls_with_http_info(body, snapshot_id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_get_sandbox_snapshot_blob_download_urls_with_http_info(self, body: 'SandboxesServiceGetSandboxSnapshotBlobDownloadUrlsBody', snapshot_id: 'str', **kwargs) -> 'V1GetSandboxSnapshotBlobDownloadUrlsResponse':  # noqa: E501
        """GetSandboxSnapshotBlobDownloadUrls mints presigned GET URLs for a batch of sha256 digests so the restoring agent can pull missing blobs from S3 directly. One URL per digest, in request order.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_snapshot_blob_download_urls_with_http_info(body, snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceGetSandboxSnapshotBlobDownloadUrlsBody body: (required)
        :param str snapshot_id: (required)
        :return: V1GetSandboxSnapshotBlobDownloadUrlsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'snapshot_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_get_sandbox_snapshot_blob_download_urls" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_get_sandbox_snapshot_blob_download_urls`")  # noqa: E501
        # verify the required parameter 'snapshot_id' is set
        if ('snapshot_id' not in params or
                params['snapshot_id'] is None):
            raise ValueError("Missing the required parameter `snapshot_id` when calling `sandboxes_service_get_sandbox_snapshot_blob_download_urls`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'snapshot_id' in params:
            path_params['snapshotId'] = params['snapshot_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/snapshots/{snapshotId}/blobs/download-urls', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1GetSandboxSnapshotBlobDownloadUrlsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_get_sandbox_snapshot_blob_upload_urls(self, body: 'SandboxesServiceGetSandboxSnapshotBlobUploadUrlsBody', snapshot_id: 'str', **kwargs) -> 'V1GetSandboxSnapshotBlobUploadUrlsResponse':  # noqa: E501
        """GetSandboxSnapshotBlobUploadUrls performs an existence check on the supplied sha256 digests in the cluster blob store and returns presigned PUT URLs only for those not already present. Existing digests are echoed back in `existing_digests` so the caller can skip uploading them.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_snapshot_blob_upload_urls(body, snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceGetSandboxSnapshotBlobUploadUrlsBody body: (required)
        :param str snapshot_id: (required)
        :return: V1GetSandboxSnapshotBlobUploadUrlsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_get_sandbox_snapshot_blob_upload_urls_with_http_info(body, snapshot_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_get_sandbox_snapshot_blob_upload_urls_with_http_info(body, snapshot_id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_get_sandbox_snapshot_blob_upload_urls_with_http_info(self, body: 'SandboxesServiceGetSandboxSnapshotBlobUploadUrlsBody', snapshot_id: 'str', **kwargs) -> 'V1GetSandboxSnapshotBlobUploadUrlsResponse':  # noqa: E501
        """GetSandboxSnapshotBlobUploadUrls performs an existence check on the supplied sha256 digests in the cluster blob store and returns presigned PUT URLs only for those not already present. Existing digests are echoed back in `existing_digests` so the caller can skip uploading them.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_get_sandbox_snapshot_blob_upload_urls_with_http_info(body, snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceGetSandboxSnapshotBlobUploadUrlsBody body: (required)
        :param str snapshot_id: (required)
        :return: V1GetSandboxSnapshotBlobUploadUrlsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'snapshot_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_get_sandbox_snapshot_blob_upload_urls" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_get_sandbox_snapshot_blob_upload_urls`")  # noqa: E501
        # verify the required parameter 'snapshot_id' is set
        if ('snapshot_id' not in params or
                params['snapshot_id'] is None):
            raise ValueError("Missing the required parameter `snapshot_id` when calling `sandboxes_service_get_sandbox_snapshot_blob_upload_urls`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'snapshot_id' in params:
            path_params['snapshotId'] = params['snapshot_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/snapshots/{snapshotId}/blobs/upload-urls', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1GetSandboxSnapshotBlobUploadUrlsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_kill_sandbox_command(self, id: 'str', cmd_id: 'str', **kwargs) -> 'V1KillSandboxCommandResponse':  # noqa: E501
        """sandboxes_service_kill_sandbox_command  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_kill_sandbox_command(id, cmd_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str cmd_id: (required)
        :param str organization_id:
        :return: V1KillSandboxCommandResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_kill_sandbox_command_with_http_info(id, cmd_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_kill_sandbox_command_with_http_info(id, cmd_id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_kill_sandbox_command_with_http_info(self, id: 'str', cmd_id: 'str', **kwargs) -> 'V1KillSandboxCommandResponse':  # noqa: E501
        """sandboxes_service_kill_sandbox_command  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_kill_sandbox_command_with_http_info(id, cmd_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str cmd_id: (required)
        :param str organization_id:
        :return: V1KillSandboxCommandResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'cmd_id', 'organization_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_kill_sandbox_command" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_kill_sandbox_command`")  # noqa: E501
        # verify the required parameter 'cmd_id' is set
        if ('cmd_id' not in params or
                params['cmd_id'] is None):
            raise ValueError("Missing the required parameter `cmd_id` when calling `sandboxes_service_kill_sandbox_command`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'cmd_id' in params:
            path_params['cmdId'] = params['cmd_id']  # noqa: E501

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}/commands/{cmdId}/kill', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1KillSandboxCommandResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_list_sandbox_commands(self, id: 'str', **kwargs) -> 'V1ListSandboxCommandsResponse':  # noqa: E501
        """sandboxes_service_list_sandbox_commands  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_list_sandbox_commands(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str organization_id:
        :return: V1ListSandboxCommandsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_list_sandbox_commands_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_list_sandbox_commands_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_list_sandbox_commands_with_http_info(self, id: 'str', **kwargs) -> 'V1ListSandboxCommandsResponse':  # noqa: E501
        """sandboxes_service_list_sandbox_commands  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_list_sandbox_commands_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str organization_id:
        :return: V1ListSandboxCommandsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'organization_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_list_sandbox_commands" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_list_sandbox_commands`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}/commands', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1ListSandboxCommandsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_list_sandbox_snapshots(self, **kwargs) -> 'V1ListSandboxSnapshotsResponse':  # noqa: E501
        """Snapshots  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_list_sandbox_snapshots(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str organization_id:
        :param str page_token:
        :param str limit:
        :param str project_id:
        :param str name:
        :param str sort_order:
        :return: V1ListSandboxSnapshotsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_list_sandbox_snapshots_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_list_sandbox_snapshots_with_http_info(**kwargs)  # noqa: E501
            return data

    def sandboxes_service_list_sandbox_snapshots_with_http_info(self, **kwargs) -> 'V1ListSandboxSnapshotsResponse':  # noqa: E501
        """Snapshots  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_list_sandbox_snapshots_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str organization_id:
        :param str page_token:
        :param str limit:
        :param str project_id:
        :param str name:
        :param str sort_order:
        :return: V1ListSandboxSnapshotsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['organization_id', 'page_token', 'limit', 'project_id', 'name', 'sort_order']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_list_sandbox_snapshots" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'project_id' in params:
            query_params.append(('projectId', params['project_id']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/snapshots', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1ListSandboxSnapshotsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_list_sandboxes(self, **kwargs) -> 'V1ListSandboxesResponse':  # noqa: E501
        """Sandboxes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_list_sandboxes(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str organization_id:
        :param str page_token:
        :param str limit:
        :param str project_id: Optional teamspace/project scoping. When set, only sandboxes belonging to this project are returned. Mirrors `ListSandboxSnapshotsRequest`. Sandboxes created before this field landed have no `project_id` persisted server-side, so filtering will return an empty set until sandboxes are recreated with a project context.
        :return: V1ListSandboxesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_list_sandboxes_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_list_sandboxes_with_http_info(**kwargs)  # noqa: E501
            return data

    def sandboxes_service_list_sandboxes_with_http_info(self, **kwargs) -> 'V1ListSandboxesResponse':  # noqa: E501
        """Sandboxes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_list_sandboxes_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str organization_id:
        :param str page_token:
        :param str limit:
        :param str project_id: Optional teamspace/project scoping. When set, only sandboxes belonging to this project are returned. Mirrors `ListSandboxSnapshotsRequest`. Sandboxes created before this field landed have no `project_id` persisted server-side, so filtering will return an empty set until sandboxes are recreated with a project context.
        :return: V1ListSandboxesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['organization_id', 'page_token', 'limit', 'project_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_list_sandboxes" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'organization_id' in params:
            query_params.append(('organizationId', params['organization_id']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'project_id' in params:
            query_params.append(('projectId', params['project_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1ListSandboxesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_run_sandbox_command(self, body: 'SandboxesServiceRunSandboxCommandBody', id: 'str', **kwargs) -> 'V1RunSandboxCommandResponse':  # noqa: E501
        """sandboxes_service_run_sandbox_command  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_run_sandbox_command(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceRunSandboxCommandBody body: (required)
        :param str id: (required)
        :return: V1RunSandboxCommandResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_run_sandbox_command_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_run_sandbox_command_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_run_sandbox_command_with_http_info(self, body: 'SandboxesServiceRunSandboxCommandBody', id: 'str', **kwargs) -> 'V1RunSandboxCommandResponse':  # noqa: E501
        """sandboxes_service_run_sandbox_command  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_run_sandbox_command_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceRunSandboxCommandBody body: (required)
        :param str id: (required)
        :return: V1RunSandboxCommandResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_run_sandbox_command" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_run_sandbox_command`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_run_sandbox_command`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}/commands', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1RunSandboxCommandResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_stop_sandbox(self, body: 'SandboxesServiceStopSandboxBody', id: 'str', **kwargs) -> 'V1StopSandboxResponse':  # noqa: E501
        """StopSandbox stops a running sandbox. For sandboxes created with `persistent = true`, the controlplane first captures an auto-snapshot keyed to the sandbox id (returned in `auto_snapshot_id`) so the sandbox can later be brought back via UpdateSandbox(resume=true) without losing filesystem state. For non-persistent sandboxes the server is simply stopped and no snapshot is taken.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_stop_sandbox(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceStopSandboxBody body: (required)
        :param str id: (required)
        :return: V1StopSandboxResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_stop_sandbox_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_stop_sandbox_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_stop_sandbox_with_http_info(self, body: 'SandboxesServiceStopSandboxBody', id: 'str', **kwargs) -> 'V1StopSandboxResponse':  # noqa: E501
        """StopSandbox stops a running sandbox. For sandboxes created with `persistent = true`, the controlplane first captures an auto-snapshot keyed to the sandbox id (returned in `auto_snapshot_id`) so the sandbox can later be brought back via UpdateSandbox(resume=true) without losing filesystem state. For non-persistent sandboxes the server is simply stopped and no snapshot is taken.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_stop_sandbox_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceStopSandboxBody body: (required)
        :param str id: (required)
        :return: V1StopSandboxResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_stop_sandbox" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_stop_sandbox`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_stop_sandbox`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}/stop', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1StopSandboxResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_update_sandbox(self, body: 'SandboxesServiceUpdateSandboxBody', id: 'str', **kwargs) -> 'V1Sandbox':  # noqa: E501
        """UpdateSandbox updates a sandbox in place. Currently the only supported mutation is `resume = true`, which resumes a previously stopped persistent sandbox from its most recent auto-snapshot while preserving the sandbox id. Modelled on Vercel's update-sandbox endpoint: https://vercel.com/docs/rest-api/sandboxes-v2-beta/update-a-sandbox.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_update_sandbox(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceUpdateSandboxBody body: (required)
        :param str id: (required)
        :return: V1Sandbox
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_update_sandbox_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_update_sandbox_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_update_sandbox_with_http_info(self, body: 'SandboxesServiceUpdateSandboxBody', id: 'str', **kwargs) -> 'V1Sandbox':  # noqa: E501
        """UpdateSandbox updates a sandbox in place. Currently the only supported mutation is `resume = true`, which resumes a previously stopped persistent sandbox from its most recent auto-snapshot while preserving the sandbox id. Modelled on Vercel's update-sandbox endpoint: https://vercel.com/docs/rest-api/sandboxes-v2-beta/update-a-sandbox.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_update_sandbox_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceUpdateSandboxBody body: (required)
        :param str id: (required)
        :return: V1Sandbox
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_update_sandbox" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_update_sandbox`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_update_sandbox`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/core/sandboxes/{id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1Sandbox',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sandboxes_service_write_sandbox_file(self, body: 'SandboxesServiceWriteSandboxFileBody', id: 'str', **kwargs) -> 'V1WriteSandboxFileResponse':  # noqa: E501
        """sandboxes_service_write_sandbox_file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_write_sandbox_file(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceWriteSandboxFileBody body: (required)
        :param str id: (required)
        :return: V1WriteSandboxFileResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sandboxes_service_write_sandbox_file_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.sandboxes_service_write_sandbox_file_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def sandboxes_service_write_sandbox_file_with_http_info(self, body: 'SandboxesServiceWriteSandboxFileBody', id: 'str', **kwargs) -> 'V1WriteSandboxFileResponse':  # noqa: E501
        """sandboxes_service_write_sandbox_file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sandboxes_service_write_sandbox_file_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SandboxesServiceWriteSandboxFileBody body: (required)
        :param str id: (required)
        :return: V1WriteSandboxFileResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sandboxes_service_write_sandbox_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sandboxes_service_write_sandbox_file`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sandboxes_service_write_sandbox_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
[...]
